<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kyee.upgrade.mapper.UpProjectConfigFileMapper">
    
    <resultMap type="UpProjectConfigFile" id="UpProjectConfigFileResult">
        <result property="projectProductId"    column="project_product_id"    />
        <result property="projectId"    column="project_id"    />
        <result property="productId"    column="product_id"    />
        <result property="configFileName"    column="config_file_name"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="delFlag"    column="del_flag"    />
        <result property="remark"    column="remark"    />
    </resultMap>

    <sql id="selectUpProjectConfigFileVo">
        select project_product_id, project_id, product_id, config_file_name, create_by, create_time, update_by, update_time, del_flag, remark from up_project_config_file
    </sql>

    <select id="selectUpProjectConfigFileList" parameterType="UpProjectConfigFile" resultMap="UpProjectConfigFileResult">
        <include refid="selectUpProjectConfigFileVo"/>
        <where>  
            <if test="projectId != null "> and project_id = #{projectId}</if>
            <if test="productId != null "> and product_id = #{productId}</if>
            <if test="configFileName != null  and configFileName != ''"> and config_file_name like concat('%', #{configFileName}, '%')</if>
            and del_flag = 'N'
        </where>
    </select>
    
    <select id="selectUpProjectConfigFileById" parameterType="Integer" resultMap="UpProjectConfigFileResult">
        <include refid="selectUpProjectConfigFileVo"/>
        where project_product_id = #{projectProductId}
    </select>
        
    <insert id="insertUpProjectConfigFile" parameterType="UpProjectConfigFile" useGeneratedKeys="true" keyProperty="projectProductId">
        insert into up_project_config_file
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="projectId != null">project_id,</if>
            <if test="productId != null">product_id,</if>
            <if test="configFileName != null">config_file_name,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="delFlag != null">del_flag,</if>
            <if test="remark != null">remark,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="projectId != null">#{projectId},</if>
            <if test="productId != null">#{productId},</if>
            <if test="configFileName != null">#{configFileName},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="delFlag != null">#{delFlag},</if>
            <if test="remark != null">#{remark},</if>
         </trim>
    </insert>

    <update id="updateUpProjectConfigFile" parameterType="UpProjectConfigFile">
        update up_project_config_file
        <trim prefix="SET" suffixOverrides=",">
            <if test="projectId != null">project_id = #{projectId},</if>
            <if test="productId != null">product_id = #{productId},</if>
            <if test="configFileName != null">config_file_name = #{configFileName},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="delFlag != null">del_flag = #{delFlag},</if>
            <if test="remark != null">remark = #{remark},</if>
        </trim>
        where project_product_id = #{projectProductId}
    </update>

    <delete id="deleteUpProjectConfigFileById" parameterType="Integer">
        update up_project_config_file set del_flag = 'Y', update_time=sysdate() where project_product_id = #{projectProductId}
    </delete>

    <delete id="deleteUpProjectConfigFileByIds" parameterType="String">
        update up_project_config_file set del_flag = 'Y', update_time=sysdate() where project_product_id in
        <foreach item="projectProductId" collection="array" open="(" separator="," close=")">
            #{projectProductId}
        </foreach>
    </delete>

    <select id="selectConfigByProductIdAndProjectId" parameterType="UpProjectConfigFile" resultMap="UpProjectConfigFileResult">
        <include refid="selectUpProjectConfigFileVo"/>
        <where>
            del_flag != 'Y'
            <if test="projectId != null "> and project_id = #{projectId, jdbcType=BIGINT}</if>
            <if test="productId != null "> and product_id = #{productId, jdbcType=BIGINT}</if>
            <if test="configFileName != null "> and config_file_name = #{configFileName, jdbcType=VARCHAR}</if>
        </where>
    </select>

</mapper>