<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kyee.upgrade.mapper.UpProjectServerMapper">
    
    <resultMap type="com.kyee.upgrade.domain.UpProjectServer" id="UpProjectServerResult">
        <result property="serverId"    column="server_id"    />
        <result property="serverName"    column="server_name"    />
        <result property="projectId"    column="project_id"    />
        <result property="productId"    column="product_id"    />
        <result property="projectName"    column="project_name"    />
        <result property="productName"    column="product_name"    />
        <result property="serverIp"    column="server_ip"    />
        <result property="serverPort"    column="server_port"    />
        <result property="createBy"    column="create_by"    />
        <result property="serverPath"    column="server_path"    />
	    <result property="serverStatus"    column="server_status"    />
	    <result property="upgradeStatus"    column="upgrade_status"    />
	    <result property="tomcatPath"    column="tomcat_path"    />
	    <result property="deployName"    column="deploy_name"    />
        <result property="createTime"    column="create_time"    />
        <result property="osType"    column="os_type"    />
        <result property="updateBy"    column="update_by"    />
        <result property="sshPort"    column="ssh_port"    />
        <result property="updateTime"    column="update_time"    />
        <result property="sshUser"    column="ssh_user"    />
        <result property="delFlag"    column="del_flag"    />
        <result property="sshPassword"    column="ssh_password"    />
        <result property="remark"    column="remark"    />
        <result property="serverType"    column="server_type"    />
        <result property="serviceType"    column="service_type"    />
    </resultMap>

    <resultMap type="com.kyee.upgrade.domain.vo.UpUpgradeDataDTO" id="UpUpgradeDataResult">
        <result property="serverId"    column="server_id"    />
        <result property="serverName"    column="server_name"    />
        <result property="projectId"    column="project_id"    />
        <result property="productId"    column="product_id"    />
        <result property="projectName"    column="project_name"    />
        <result property="productName"    column="product_name"    />
        <result property="serverIp"    column="server_ip"    />
        <result property="serverPort"    column="server_port"    />
        <result property="createBy"    column="create_by"    />
        <result property="serverPath"    column="server_path"    />
        <result property="serverStatus"    column="server_status"    />
        <result property="upgradeStatus"    column="upgrade_status"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="delFlag"    column="del_flag"    />
        <result property="remark"    column="remark"    />
        <result property="serverType"    column="server_type"    />
        <result property="serviceType"    column="service_type"    />
    </resultMap>

    <resultMap type="com.kyee.upgrade.domain.UpUpgradeRecordClient" id="UpUpgradeRecordClientResult">
        <result property="upgradeId"    column="upgrade_id"    />
        <result property="serverId"    column="server_id"    />
        <result property="serverName"    column="server_name"    />
        <result property="patchId"    column="patch_id"    />
        <result property="patchFileName"    column="patch_file_name"    />
        <result property="upStatus"    column="up_status"    />
        <result property="upTimes"    column="up_times"    />
        <result property="lastUpWorker"    column="last_up_worker"    />
        <result property="lastUpTime"    column="last_up_time"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="delFlag"    column="del_flag"    />
        <result property="remark"    column="remark"    />
    </resultMap>

    <sql id="selectUpProjectServerVo">
        select server_id,
            server_name,
            project_id,
            product_id,
            server_ip,
            server_port,
            create_by,
            server_path,
            server_status,
            upgrade_status,
            tomcat_path,
            deploy_name,
            create_time,
            os_type,
            update_by,
            ssh_port,
            update_time,
            ssh_user,
            del_flag,
            ssh_password,
            remark,
            server_type,
            service_type
        from
            up_project_server
    </sql>

    <sql id="selectServerVo">
        select
            ups.*,
            upj.project_name,
            upd.product_name
        from
            up_project_server ups
        left join up_project upj ON upj.project_id = ups.project_id and upj.del_flag != 'Y'
        left join up_product upd ON upd.product_id = ups.product_id and upd.del_flag != 'Y'
    </sql>

    <sql id="UpProjectServerVo">
        select
            uuprc.*
        from
            up_project_server ups
        inner join up_upgrade_record_client uuprc on ups.server_id = uuprc.server_id
        inner join up_patch_client upc on upc.patch_id = uuprc.patch_id
    </sql>

    <select id="selectUpProjectServerList" parameterType="com.kyee.upgrade.domain.UpProjectServer" resultMap="UpProjectServerResult">
        <include refid="selectServerVo"/>
        <where>
            ups.del_flag != 'Y'
            <if test="serverId != null  and serverId != ''"> and ups.server_id = #{serverId} </if>
            <if test="serverName != null  and serverName != ''"> and ups.server_name like concat('%', #{serverName}, '%')</if>
            <if test="serverIp != null  and serverIp != ''"> and ups.server_ip like concat('%', #{serverIp}, '%')</if>
            <if test="serverPath != null  and serverPath != ''"> and ups.server_path like concat('%', #{serverPath}, '%')</if>
            <if test="serverStatus != null  and serverStatus != ''"> and ups.server_status = #{serverStatus}</if>
            <if test="projectId != null "> and ups.project_id = #{projectId}</if>
            <if test="productId != null "> and ups.product_id = #{productId}</if>
            <if test="serverType != null and serverType != '' "> and ups.server_type = #{serverType}</if>
            <if test="serviceType != null and serviceType != '' "> and ups.service_type = #{serviceType}</if>
            <if test="serverPort != null and serverPort != '' "> and ups.server_port = #{serverPort}</if>
            <if test="type =='升级界面' ">
	        and ups.service_type = '应用服务'
            </if>
        </where>
    </select>
    
    <select id="selectUpProjectServerById" parameterType="Integer" resultMap="UpProjectServerResult">
        <include refid="selectUpProjectServerVo"/>
        where
          del_flag != 'Y'
        and server_id = #{serverId}
    </select>
        
    <insert id="insertUpProjectServer" parameterType="com.kyee.upgrade.domain.UpProjectServer" useGeneratedKeys="true" keyProperty="serverId">
        insert into up_project_server
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="serverName != null and serverName != ''">server_name,</if>
            <if test="projectId != null">project_id,</if>
            <if test="productId != null">product_id,</if>
            <if test="serverIp != null and serverIp != ''">server_ip,</if>
            <if test="serverPort != null">server_port,</if>
            <if test="createBy != null">create_by,</if>
            <if test="serverPath != null and serverPath != ''">server_path,</if>
	        <if test="serverStatus != null and serverStatus != ''">server_status,</if>
	        <if test="upgradeStatus != null and upgradeStatus != ''">upgrade_status,</if>
            <if test="tomcatPath != null and tomcatPath != ''">tomcat_path,</if>
            <if test="deployName != null and deployName != ''">deploy_name,</if>
            <if test="createTime != null">create_time,</if>
            <if test="osType != null and osType != ''">os_type,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="sshPort != null">ssh_port,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="sshUser != null and sshUser != ''">ssh_user,</if>
            <if test="delFlag != null">del_flag,</if>
            <if test="sshPassword != null and sshPassword != ''">ssh_password,</if>
            <if test="remark != null">remark,</if>
            <if test="serverType != null and serverType != '' ">server_type,</if>
            <if test="serviceType != null and serviceType != '' ">service_type</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="serverName != null and serverName != ''">#{serverName},</if>
            <if test="projectId != null">#{projectId},</if>
            <if test="productId != null">#{productId},</if>
            <if test="serverIp != null and serverIp != ''">#{serverIp},</if>
            <if test="serverPort != null">#{serverPort},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="serverPath != null and serverPath != ''">#{serverPath},</if>
            <if test="serverStatus != null and serverStatus != ''">#{serverStatus},</if>
            <if test="upgradeStatus != null and upgradeStatus != ''">#{upgradeStatus},</if>
            <if test="tomcatPath != null and tomcatPath != ''">#{tomcatPath},</if>
            <if test="deployName != null and deployName != ''">#{deployName},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="osType != null and osType != ''">#{osType},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="sshPort != null">#{sshPort},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="sshUser != null and sshUser != ''">#{sshUser},</if>
            <if test="delFlag != null">#{delFlag},</if>
            <if test="sshPassword != null and sshPassword != ''">#{sshPassword},</if>
            <if test="remark != null">#{remark},</if>
            <if test="serverType != null and serverType != '' ">#{serverType},</if>
            <if test="serviceType != null and serviceType != '' ">#{serviceType}</if>
         </trim>
    </insert>

    <update id="updateUpProjectServer" parameterType="com.kyee.upgrade.domain.UpProjectServer">
        update up_project_server
        <trim prefix="SET" suffixOverrides=",">
            <if test="serverName != null and serverName != ''">server_name = #{serverName},</if>
            <if test="projectId != null">project_id = #{projectId},</if>
            <if test="productId != null">product_id = #{productId},</if>
            <if test="serverIp != null and serverIp != ''">server_ip = #{serverIp},</if>
            <if test="serverPort != null">server_port = #{serverPort},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="serverPath != null and serverPath != ''">server_path = #{serverPath},</if>
            <if test="serverStatus != null and serverStatus != ''">server_status = #{serverStatus},</if>
            <if test="upgradeStatus != null and upgradeStatus != ''">upgrade_status = #{upgradeStatus},</if>
            <if test="tomcatPath != null and tomcatPath != ''">tomcat_path = #{tomcatPath},</if>
            <if test="deployName != null and deployName != ''">deploy_name = #{deployName},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="osType != null and osType != ''">os_type = #{osType},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="sshPort != null">ssh_port = #{sshPort},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="sshUser != null and sshUser != ''">ssh_user = #{sshUser},</if>
            <if test="delFlag != null">del_flag = #{delFlag},</if>
            <if test="sshPassword != null and sshPassword != ''">ssh_password = #{sshPassword},</if>
            <if test="remark != null">remark = #{remark},</if>
            <if test="serverType != null and serverType != '' ">server_type = #{serverType},</if>
            <if test="serviceType != null and serviceType != '' ">service_type = #{serviceType}</if>
        </trim>
        where server_id = #{serverId}
    </update>

    <delete id="deleteUpProjectServerById" parameterType="Integer">
        update up_project_server set del_flag = 'Y', update_time=sysdate() where server_id = #{serverId}
    </delete>

    <delete id="deleteUpProjectServerByIds" parameterType="String">
        update up_project_server set del_flag = 'Y', update_time=sysdate() where server_id in
        <foreach item="serverId" collection="array" open="(" separator="," close=")">
            #{serverId}
        </foreach>
    </delete>

    <select id="getDatabaseList" resultMap="UpUpgradeDataResult">
        <include refid="selectServerVo"/>
        <where>
            ups.service_type = '数据库服务'
            and ups.del_flag != 'Y'
            <if test="serverIp != null  and serverIp != ''"> and server_ip like concat('%', #{serverIp}, '%')</if>
            <if test="serverName != null  and serverName != ''"> and server_name like concat('%', #{serverName}, '%')</if>
            <if test="serverType != null and serverType != '' ">and ups.server_type = #{serverType}</if>
            <if test="projectId != null "> and upj.project_id = #{projectId}</if>
            <if test="productId != null "> and upd.product_id = #{productId}</if>
        </where>
    </select>

    <select id="getUpgradeDataByServerId" parameterType="int" resultMap="UpUpgradeRecordClientResult">
        <include refid="UpProjectServerVo"/>
        <where>
            ups.server_id = #{serverId}
            and upc.patch_status in ('40', '90')
            and upc.sql_flag = 'Y'
            and upc.del_flag != 'Y'
            and ups.service_type = '应用服务'
            and ups.del_flag != 'Y'
            and uuprc.del_flag != 'Y'
        </where>
        order by uuprc.create_time desc
    </select>

    <update id="updateDatabaseServer" parameterType="com.kyee.upgrade.domain.vo.UpUpgradeDataDTO">
        update up_project_server
        <trim prefix="SET" suffixOverrides=",">
            <if test="projectId != null">project_id = #{projectId},</if>
            <if test="productId != null">product_id = #{productId},</if>
            <if test="serverIp != null and serverIp != ''">server_ip = #{serverIp},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="serverStatus != null and serverStatus != ''">server_status = #{serverStatus},</if>
            <if test="upgradeStatus != null and upgradeStatus != ''">upgrade_status = #{upgradeStatus},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="delFlag != null">del_flag = #{delFlag},</if>
            <if test="serverType != null and serverType != '' ">server_type = #{serverType},</if>
            <if test="serviceType != null and serviceType != '' ">service_type = #{serviceType}</if>
        </trim>
        where server_id = #{serverId}
    </update>

    <select id="selectUnUpgrade" resultType="java.util.Map">
        SELECT COUNT(*) as noUpNum, IFNULL(MIN(upc.build_time), NOW()) as noUpMinTime
        FROM up_patch_client upc
        WHERE upc.del_flag = 'N'
            AND project_id = #{projectServer.projectId}
            AND product_id = #{projectServer.productId}
            AND merge_package_flag IN ('N', 'Y')
        <if test="projectServer.serverType == '生产'">
            AND (
                upc.patch_status = #{patchStatus[0]}
                OR upc.patch_status = #{patchStatus[1]}
                OR (
                    upc.patch_status = #{patchStatus[2]} AND (
                        SELECT count(1) FROM up_upgrade_record_client uprc
                        WHERE uprc.server_id = #{projectServer.serverId}
                        AND uprc.patch_id = upc.patch_id
                        AND uprc.up_status not in (30,60)
                    ) = 0
                )
            )
        </if>
        <if test="projectServer.serverType == '测试'">
            AND (
                (upc.test_status = #{testStatus[0]})
                OR upc.test_status = #{testStatus[1]}
                OR (
                    upc.test_status = #{testStatus[2]} AND (
                        SELECT count(1) FROM up_upgrade_record_client uprc
                        WHERE uprc.server_id = #{projectServer.serverId}
                        AND uprc.patch_id = upc.patch_id
                        AND uprc.up_status not in (30,60)
                    ) = 0
                )
            )
        </if>
    </select>

    <select id="selectUnExecute" resultType="java.util.Map">
        select
            COUNT(1) as noUpNum,
            IFNULL(MIN(upc.build_time),NOW()) as noUpMinTime
        from
            up_patch_client upc
        <where>
            upc.merge_package_flag in ('Y','N')
            and upc.sql_flag = 'Y'
            and upc.project_id = #{projectServer.projectId}
            and upc.product_id = #{projectServer.productId}
            and upc.del_flag = 'N'
            <if test="projectServer.serverType == '测试'">
                and upc.test_status = #{testStatus}
            </if>
            <if test="projectServer.serverType == '生产'">
                and upc.patch_status = #{patchStatus}
            </if>
        </where>
    </select>

</mapper>