<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head>
    <th:block th:include="include :: header('生成全量包')" />
    <th:block th:include="include :: select2-css"/>
    <th:block th:include="include :: bootstrap-select-css"/>
</head>
<body class="white-bg">
    <div class="wrapper wrapper-content animated fadeInRight ibox-content">
        <form class="form-horizontal" id="form-patch-regist">
            <div id="projectProduct" class="row form-group">
                <label class="col-sm-2 control-label is-required">产品：</label>
                <div class="col-sm-4">
                    <select id="productId" name="productId" class="type form-control" required onchange="onchangeByProduct()">
                        <!--                        <option th:each="product : ${plist}" th:text="${product.productName}" th:value="${product.productId}"></option>-->
                    </select>
                </div>
                <label class="col-sm-2 control-label is-required" id="projectLabel">项目：</label>
                <div class="col-sm-4" id="projectId">
                    <!--TODO branch-->
                    <select name="projectId" class="router form-control" required onchange="onchangeByProject()">
                    <!--<select name="projectId" class="router form-control" required>-->
                    </select>
                </div>
            </div>
            <!--TODO branch-->
            <!--<div class="form-group" hidden="hidden" id="patchTypeId">-->
                <!--<label class="col-sm-2 control-label is-required">包类型：</label>-->
                <!--<div class="col-sm-4">-->
                    <!--&lt;!&ndash;<select id="patchType" name="patchType" class="form-control m-b" th:with="type=${@dict.getType('up_patch_type')}" required onchange="changeTip()">&ndash;&gt;-->
                    <!--<select id="patchType" name="patchType" class="form-control m-b" th:with="type=${@dict.getType('up_patch_type')}">-->
                        <!--<option value="">请选择</option>-->
                        <!--<option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"></option>-->
                    <!--</select>-->
                <!--</div>-->
                <!--<label class="col-sm-2 control-label is-required">任务号：</label>-->
                <!--<div class="col-sm-4">-->
                    <!--<input name="jiraNo" class="form-control" type="text" required >-->
                <!--</div>-->
                <!--<label class="col-sm-2 control-label"></label>-->
                <!--<div class="col-sm-10">-->
                    <!--<div id="tip" class="help-block m-b-none" style="color: red" ></div>-->
                <!--</div>-->
            <!--</div>-->

            <div class="form-group">
                <label class="col-sm-2 control-label">备注：</label>
                <div class="col-sm-10">
                    <textarea name="remark" class="form-control" rows="3"></textarea>
                </div>
            </div>

            <!--<div class="form-group" hidden="hidden">
                <input id="mergeTime" name="mergeTime" class="form-control" type="text" >
            </div>-->
        </form>
    </div>
    <th:block th:include="include :: footer" />
    <th:block th:include="include :: jquery-cxselect-js" />
    <script th:inline="javascript">
        var prefix = ctx + "upgrade/patch";
        $("#form-patch-regist").validate({
            focusCleanup: true
        });

        // 产品项目联动
        var projectAndProduct = [[${projectAndProduct}]];
        $('#projectProduct').cxSelect({
            selects: ['type', 'router'],
            jsonValue: 'v',
            data: projectAndProduct
        });

        function submitHandler() {
            if ($.validate.form()) {
                $.operate.save(prefix + "/fullPack", $('#form-patch-regist').serialize());
            }
        }

        // 选择高唐项目，添加包类型下拉框
        function onchangeByProject() {

            // 高唐
            // if (projectId == 1) {
            //     $('#patchTypeId').removeAttr('hidden');
            //     $('#otherProject').attr('hidden','hidden');
            // } else {
            //     $('#patchTypeId').attr('hidden','hidden');
            //     $('#otherProject').removeAttr('hidden');
            //     $('#searchCode').removeAttr('hidden');
            //     $('#searchId').removeAttr('hidden');
            // }

            var productId = $.form.selectSelects("projectProduct").split(',')[0];
            var projectId = $.form.selectSelects("projectProduct").split(',')[1];

            // 选择产品项目，查询打包分支
            var url = prefix + "/searchPatchBranch";
            $.ajax({
                url:url,
                type:"post",
                data: "productId=" + productId + "&projectId=" + projectId,
                success:function(reply){
                    if (reply == 2) {
                        $('#branchForm').removeAttr('hidden');
                    } else {
                        $('#branchForm').attr('hidden','hidden');
                    }
                }
            });
        }


        // lis项目
        function onchangeByProduct() {
            var productId = $('#productId').val();
            if (productId == 7) {
                $('#projectId').attr('hidden','hidden');
                $('#projectLabel').attr('hidden','hidden');
            } else {
                $('#projectId').removeAttr('hidden');
                $('#projectLabel').removeAttr('hidden');
            }
        }

        // 根据包类型改变tip
        function changeTip() {
            var patchType = $.form.selectSelects("patchType");
            if (patchType == 2) {
                $("#tip").text('版本打包需从dev拉分支合并至dev,请确认是否合并.');
            } else {
                $("#tip").html('版本包升级中,单任务打包需从master拉分支合并至master,release,dev,请确认是否合并.');
            }
        }
    </script>
    <th:block th:include="include :: select2-js"/>
    <th:block th:include="include :: bootstrap-select-js"/>
</body>
</html>