<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="include :: header('执行数据库日志')" />
    <th:block th:include="include :: select2-css"/>
    <th:block th:include="include :: bootstrap-select-css"/>
</head>
<body class="white-bg">
<div class="container-div">
    <table>
        <tr th:each="log : ${logs}">
            <td th:if="${log.logContent != null}" th:text="${log.logContent}"></td>
            <td th:if="${log.logContent == null}" th:text="无"></td>
        </tr>
    </table>
</div>
    <th:block th:include="include :: footer" />
    <th:block th:include="include :: jquery-cxselect-js" />
    <th:block th:include="include :: select2-js"/>
    <th:block th:include="include :: bootstrap-select-js"/>
</body>
</html>